<% include ./partials/header %>

<div class="container">
  <div class="jumbotron">
    <h2>Sign Up</h2>
    <form class="form-inline" action="/register" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="username" placeholder="username">
        <input class="form-control" type="password" name="password" placeholder="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>

<% include ./partials/footer %>
